<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

    <!-- Fontfaces CSS-->
    <link href="{{ url_for('static', filename='css/font-face.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/font-awesome-4.7/css/font-awesome.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/font-awesome-5/css/fontawesome-all.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/mdi-font/css/material-design-iconic-font.min.css')}}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{{ url_for('static', filename='vendor/bootstrap-4.1/bootstrap.min.css')}}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{{ url_for('static', filename='vendor/animsition/animsition.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/wow/animate.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/slick/slick.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/select2/select2.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.css')}}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{{ url_for('static', filename='css/theme.css')}}" rel="stylesheet" media="all">

<style type="text/css">/* Chart.js */
@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style></head>
    <body class="animsition" style="opacity: 1; animation-duration: 900ms;">
        <div class="page-wrapper">
            <header class="header-desktop3 d-none d-lg-block">
                <div class="section__content section__content--p35">
                    <div class="header3-wrap">
                        <div class="header__logo">
                            <a href="/home">
                                <img src="./static/images/icon/logo.svg" alt="logo">
                            </a>
                        </div>
                        <div class="header__navbar">
                            <ul class="list-unstyled">
                                <li class="has-sub">
                                    <a href="/dashboard">
                                        <i class="fas fa-tachometer-alt"></i>Dashboard
                                        <span class="bot-line"></span>
                                    </a>
                                </li>
                                <li class="has-sub">
                                    <a href="#">
                                        <i class="fas fa-shopping-basket"></i>
                                        <span class="bot-line"></span>Property      <!-- Change link-->
                                    </a>
                                    <ul class="header3-sub-list list-unstyled">
                                        <li>
                                            <a href="/manageProperty">Manage Property</a>
                                        </li>
                                        <li>
                                            <a href="/redirect2BatchUpload">Batch Upload Property</a>
                                        </li>
                                        <li>
                                            <a href="/viewAllProperty">View All Property</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a href="#">
                                        <i class="fas fa-desktop"></i>
                                        <span class="bot-line"></span>Purchase Request       <!-- Change link-->
                                    </a>
                                    <ul class="header3-sub-list list-unstyled">
                                        <li>
                                            <a href="/viewRequest">View All Request</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="header__tool">
                            <div class="account-wrap">
                                <div class="account-item account-item--style2 clearfix js-item-menu">
                                    <div class="image">
                                        <img alt="user" src="./static/images/icon/avatar-01.jpg">
                                    </div>
                                    <div class="content">
                                        <a class="js-acc-btn" href="#">{{user[0][2]}}</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="image">
                                                <a href="#">
                                                    <img alt="user" src="./static/images/icon/avatar-01.jpg">
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h6 class="roletxt" style="text-transform: uppercase;">
                                                    {{user[0][6]}}
                                                </h6>
                                                <h5 class="name">
                                                    <a href="#" name="username" value="{{user[0][2]}}">{{user[0][2]}}</a>
                                                </h5>
                                                <p class="">{{user[0][5]}}</p>
                                                <span class="email">{{user[0][4]}}</span>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__body">
                                            <div class="account-dropdown__item">
                                                <a href="./editAccount">
                                                <i class="zmdi zmdi-account"></i>Account</a>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__footer">
                                            <a href="${pageContext.request.contextPath}/logout">
                                            <i class="zmdi zmdi-power"></i>Logout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>


            {% block content %}
            {% endblock %}

        </div>
    </body>
    <!-- Main JS-->
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    <!-- Jquery JS-->
    <script src="{{ url_for('static', filename='vendor/jquery-3.2.1.min.js')}}"></script>
    <!-- Bootstrap JS-->
    <script src="{{ url_for('static', filename='vendor/bootstrap-4.1/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap-4.1/bootstrap.min.js')}}"></script>
    <!-- Vendor JS       -->
    <script src="{{ url_for('static', filename='vendor/slick/slick.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/wow/wow.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/animsition/animsition.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap-progressbar/bootstrap-progressbar.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/counter-up/jquery.waypoints.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/counter-up/jquery.counterup.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/circle-progress/circle-progress.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/chartjs/Chart.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/select2/select2.min.js')}}"></script>
</html>