{% extends "layout.html" %}
{% block title %}
Welcome | IOI Properties Group
{% endblock %}
{% block content %}
<div class="page-content--bgf7">

                <section class="au-breadcrumb2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="au-breadcrumb-content">
                                    <div class="au-breadcrumb-left">
                                        <span class="au-breadcrumb-span">You are here:</span>
                                        <ul class="list-unstyled list-inline au-breadcrumb__list">
                                            <li class="list-inline-item active">
                                                <a href="#">Home</a>
                                            </li>
                                            <li class="list-inline-item seprate">
                                                <span>/</span>
                                            </li>
                                            <li class="list-inline-item">Dashboard</li>
                                            <li class="list-inline-item seprate">
                                                <span>/</span>
                                            </li>
                                            <li class="list-inline-item">View All Property</li>
                                        </ul>
                                    </div>
                                    <form class="au-form-icon--sm" action="" method="post">
                                        <input class="au-input--w300 au-input--style2" type="text" placeholder="Search for datas &amp; reports...">
                                        <button class="au-btn--submit2" type="submit">
                                            <i class="zmdi zmdi-search"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <section class="welcome p-t-10">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="title-4">View All Property
                                    <!--<span>John!</span>-->
                                </h1>
                                <hr class="line-seprate">
                            </div>
                        </div>
                    </div>
                </section>

                <section class="p-t-20">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="title-5 m-b-35">Property table</h3>
                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Area</th>
                                                <th>Price</th>
                                                <th>Property Type</th>
                                                <th>Year Built</th>
                                                <th>Tenure Type</th>
                                                <th>Bedroom</th>
                                                <th>Bathroom</th>
                                                <th>Extra Room</th>
                                                <th>Parking</th>
                                                <th>Size</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in propertylist %}
                                                <tr class="tr-shadow">
                                                    <td>{{item.property_id}}</td>
                                                    <td>{{item.area}}</td>
                                                    <td>{{item.price}}</td>
                                                    <td>{{item.property_type}}</td>
                                                    <td>{{item.year_built}}</td>
                                                    <td>{{item.tenure_type}}</td>
                                                    <td>{{item.bedroom}}</td>
                                                    <td>{{item.bathroom}}</td>
                                                    <td>{{item.extra_room}}</td>
                                                    <td>{{item.parking}}</td>
                                                    <td>{{item.size}}</td>
                                                    <td>
                                                        <div class="table-data-feature">
                                                            <input type="hidden"  name="PropertyID" value="{{item.property_id}}" class="form-control">
                                                            <form name ="frm" action ="/redirect2ViewDetails" method="post">
                                                                <button name="PropertyID" type="submit" title="More" class="item" data-placement="top" data-toggle="tooltip" value="{{item.property_id}}">
                                                                    <i class="zmdi zmdi-more"></i>
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>

                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="p-t-60 p-b-20">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Referenced from © 2019 Colorlib.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
{% endblock %}